* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(151, 255, 255, 0.25);
}

.app {
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
    background-color: rgba(151, 255, 255, 0.25);
}
.post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;
    padding: 1em;
    border: 3px solid #008d8d;
    background-color: white;
}